:root {
    --mainEng-font: "nanumSquareNeo";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
    --subKor-font: "nexonLv1";

    --mycolorgreen: #145c00;
    --mycoloryellow: #ffee00;
    --mycolorgray: #181818;
    --mycolorgray2: #181818d0;
    --acitvehover: rgb(253 253 253 / 11%);


    --black: #000;
    --black100: #1d1d1d;
    --black200: #4d4d4d;
    --black300: #7d7d7d;
    --black400: #9d9d9d;
    --black500: #e6e6e6;

    --white: #fff;
    --white100: #dbdbdb;
    --white200: #c4c4c4;
    --white300: #bbbbbb;
    --white400: #aaaaaa;
    --white500: #a7a7a7;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}
